<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 fw-bold fs-1">
            <h1 class="dashboard">Dashboard</h1>
        </div>

        <div class="row mt-5 pt-1">
            <div class="col-md-3 col-lg-3">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                        <div class="card-body">
                            <h2 class="text-center w-10">Pre Placement <br>Admission 100</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 mb-3">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">
                        <div class="card-body">
                            <h2 class="text-center w-10">Internship <br>Admission 100</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 mb-3">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">
                        <div class="card-body">
                            <h2 class="text-center w-10">Logic <br>Building 100</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 mb-3">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">
                        <div class="card-body w-10">
                            <h2 class="text-center w-10">Placed <br>Students 100</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5 ">
        <div class=".col-sm-12 col-md-4 col-lg-4">
            <div class="card cards">
                <div class="card-header">
                    <h3 class="fw-2 fs-7">Upload Images Of Placed Students</h3>
                </div>
                <div class="card-body cards">
                    <div class="row">
                        <div class="col-lg-6">
                            <span><i class="fa fa-cloud-upload fa-5x" aria-hidden="true"></i></span>
                            <p class="text">Choose your file to upload</p>
                            <form>
                                <input type="file" id="file">
                            </form>
                         </div>
                         <div class="col-lg-6">
                            <button class="float-right button custom">Post</button>
                        </div>

                    </div>

                </div>
            </div> 
        </div>

        <div class="col-lg-6 ">
            <div class="card cards ">
                <div class="card-header">
                    <h3 class="fw-2 fs-7">Create Post</h3>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus atque sed in
                        molestiae ex unde eveniet tempora harum quod, consequatur neque dicta quibusdam vitae? Veritatis
                        aliquam id rem officia.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus atque sed in
                        molestiae ex unde eveniet tempora harum quod, consequatur neque dicta quibusdam vitae? Veritatis
                        aliquam id rem officia.
                    </p>
                    <button class="float-right mr-2 button1 post"><a><span>Post</span></a></button>
                </div>
            </div>
        </div>

    </div>
