.cards{
    height: 100%;
}
.button{
    margin-top: 110px;
    width: 90px;
    border-radius: 3px;
    background-color:  #4169e1;
    border: none;
    padding: 6px;
    text-transform: uppercase;
}
.button1{
    width: 90px;
    border-radius: 3px;
    background-color:  #4169e1;
    border: none;
    padding: 6px;
    text-transform: uppercase;
}
@media (max-width: 780px){
    h3,h2, .text{
        font-size: 34px;
    }
    input{
        line-height: 1.7;
    font-size: 29px;
    margin-top: 17px;
    }
    .button{
        margin-top: 30px;
        width: 100px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 29px;
       
    }
    p{
        font-size: 34px;
        line-height: 1.4;
    }
     .button1{
        font-size: 29px;
        line-height: 1.4;
        width: 100px;
        border-radius: 3px;
        text-transform: uppercase;

    }
    .post{
        background-color:  #4169e1;
        border: none;
    }
    .dashboard{
        text-align: center;
        font-size: 40px;
    }
    .cards{
        margin-top: 32px;
    }
   
}
@media(max-width: 580px){
   .row{
    display: flex;
    justify-content: center;
    width: 584px;
   }
}
  