
<div class="sidebar">
  
    <a routerLink="/admin/dashboard"><i class="fa-solid fa-desktop"></i><span>Dashboard</span></a>
    <a routerLink="/admin/ppc"><i class="fa-solid fa-user"></i><span>PPC</span></a>
    <a routerLink="/admin/logic-building"><i class="fa-solid fa-envelope"></i><span>logicBuilding</span></a>
    <a routerLink="/admin/internship"><i class="fa-solid fa-shopping-basket"></i><span>Internship</span></a>
    <a routerLink="/admin/rawdata"><i class="fa-solid fa-sellsy"></i><span>Raw Data</span></a>
 
  

</div>