<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand heading" href="#"><strong>SPLENDID INFOSYSTEMS</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      
    </button>


    <form class="form-inline my-2  my-lg-0 mg-1 Search">
        <input class="form-control mr-sm-2 float-left" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 float-right" type="submit">Search</button> 
       <a href=""><i class="fa-solid fa-arrow-right-from-bracket fa-2x logout"></i></a>
    </form>

</nav>