.sidebar a{
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-family: "Rubik";
letter-spacing: 2px;
font-size: 20px;

}
.sidebar a:hover{
    margin-left: 20px;
    transition: 0.4s;
}