.main {
    height: 97vh;
    width: 100%;
    
    display: flex;
}

.sidebar {
    height: 97vh;
    width: 15%;
    background-color: #343a40;
    /* position: fixed; */

}

.dashboard {
    width: 85%;
    height: 97vh;
}