<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Student Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <app-create-profile></app-create-profile>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Student Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <app-update-user></app-update-user>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<h1>
    <strong class="ml-4">Pre-Placement Campaign</strong></h1>

<br>
<button type="button" class="btn btn-success ml-4" data-toggle="modal" data-target="#exampleModal">New Student</button>
<br><br>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile No.</th>
                <th scope="col">Email</th>
                <th scope="col">Pending Fees</th>
                <th scope="col">Paid Fees</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <a href="" id="exampleModal1" data-toggle="modal" data-target="#exampleModal">
                    <td scope="ID">1</td>
                </a>
                <td scope="Name">Mark</td>
                <td scope="Mobile No.">9545215822</td>
                <td scope="Email">abc@gmail.com</td>
                <td scope="Pending Fees">3500</td>
                <td scope="Paid Fees">3000</td>
            </tr>

        </tbody>
    </table>
</div>