<h1>
    <strong>Pre-Placement Campaign</strong></h1>


<br>
<button type="button" class="btn btn-success ml-4">New Student</button>
<br><br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Email</th>
            <th scope="col">Pending Fees</th>
            <th scope="col">Paid Fees</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>9545215822</td>
            <td>abc@gmail.com</td>
            <td>3500</td>
            <td>3000</td>
        </tr>

    </tbody>
</table>